<div class="body">

    <div class="title-span">
      <h1> Willkommen Admin!</h1>
    </div>

    <!-- schueler , lehrer , auto -->
    <div class="container-row">

      <!--schüler span in Home -->
      <div class="box-span">
        <div class="box-span-inhalt">
          <div class="box-title">
            <h4>Schülerliste</h4>
          </div>
          <img src="../assets/img/profile/person15.png" width="150" height="150">                 
          <div class="box-text">
            <p>Durch diese Option können Sie alle angemeldeten Schüler ansehen. Wenn Sie auf einen bestimmten Schüler klicken, können Sie die Kontaktdaten des Schülers überprüfen und bearbeiten.</p>
            <button 
              mat-raised-button
              routerLink="/schuelerliste"
            >
              Schüler anzeigen
            </button>
          </div>
        </div>
      </div>

      <!--lehrer span in Home -->
      <div  class="box-span">
        <div class="box-span-inhalt">
          <div class="box-title">
            <h4>Lehrerliste</h4>
          </div>
          <img src="../assets/img/profile/person1.png" width="150" height="150">                 
          <div class="box-text" id="lehrer-text">
            <p>Durch diese Option können Sie alle Lehrer ansehen. Wenn Sie auf einen bestimmten Lehrer klicken, können Sie die Kontaktdaten des Lehrers überprüfen und bearbeiten. Außerdem können Sie ihre Rechnung hochladen.</p>
            <button 
              mat-raised-button
              routerLink="/lehrerliste"
            >
              Lehrer anzeigen
            </button>
          </div>
        </div>
      </div>

      <!--auto span in Home -->
      <div  class="box-span">
        <div class="box-span-inhalt">
          <div class="box-title">
            <h4>Support & Hilfe</h4>
          </div>
          <img src="../assets/img/profile/person16.png" width="150" height="150">                 
          <div class="box-text">
            <p>Durch diese Option können Sie den Zugang zu Ressourcen, Schulungsmaterialien und Benutzerunterstützung für eine nahtlose Fahrschulerfahrung erhalten.Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
            <button mat-raised-button>Support & Hilfe anzeigen</button>
          </div>
        </div>
      </div>
      
    </div>

    <!-- Kursverwaltung , Fahrstundenplanung , Finanzverwaltung -->
    <div class="container-row">

      <!--Kursverwaltung span in Home -->
      <div class="box-span"  id="white-span">
        <div class="box-span-inhalt">
          <div class="box-title">
            <h4>Kursverwaltung</h4>
          </div>
          <img src="../assets/img/images/1.jpg" width="400" height="400">                 
          <div class="box-text">
            <p>Durch diese Option können Sie Fahrausbildungskursen erstellen und aktualisieren und die Kursgebühren und Kurszeiten festlegen.</p>
            <button mat-raised-button>
              Kursverwaltung anzeigen
            </button>
          </div>
        </div>
      </div>

      <!--Fahrstundenplanung span in Home -->
      <div  class="box-span" id="white-span">
        <div class="box-span-inhalt">
          <div class="box-title">
            <h4>Fahrstundenplanung</h4>
          </div>
          <img src="../assets/img/images/2.jpg" width="400" height="400"> 
          <div class="box-text" id="lehrer-text">
            <p>Durch diese Option können Sie die Fahrstunden für Schüler und Lehrer ansehen und der Verfügbarkeit von Fahrzeugen für die praktische Ausbildung überwachen.</p>
            <button mat-raised-button>
              Fahrstundenplanung anzeigen
            </button>
          </div>
        </div>
      </div>

      <!--Finanzverwaltung span in Home -->
      <div  class="box-span"  id="white-span">
        <div class="box-span-inhalt">
          <div class="box-title">
            <h4>Finanzverwaltung</h4>
          </div>
          <img src="../assets/img/images/3.jpg" width="400" height="400"> 
          <div class="box-text">
            <p>Durch diese Option können Sie die Einnahmen und Ausgaben der Fahrschule verwalten und die Schülergebühren und Zahlungsrückständen überwachen.</p>
            <button mat-raised-button>Finanzverwaltung anzeigen</button>
          </div>
        </div>
      </div>
      
    </div>  
  </div>